/*
Major styles displayed on all pages
*/

/*
Trying to make sure the page always fills the screen.
*/

.wrapper {
  padding: 100%;
  /*background-color: red;*/
}

.myHeader {
  background-color: #0c3c60;
  color: white;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  margin: 0;
  align-self: auto;
}

nav ul li {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.profileLinks {
  color: blue;
}

.popupMessage {
  color: white;
  background-color: blue;
}

.footer {
  background-color: #0c3c60;
  min-height: 18vh;
  color: white;
}

input[type=number]{
    width: 40px;
}

/*
Styles for photos
*/

.parallaxBox {

  height: 86vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.coverPhoto {
  height: 35vh;
  background-position: center;
  background-size: cover;
}

.aboutUsPicture {
  border: 1px solid black;
  height: 35vh;
  width: 25vw;
  margin: 1%;
}

.competitive-swimmer {
  background-image: url('../images/competitive-swimmer.jpg');
}

.cyclist {
  background-image: url('../images/cycling.jpg');
}

.baseball-park {
  background-image: url('../images/at&t-park.jpg');
}

.fenway {
  background-image: url('../images/fenway-park.jpg');
}

.profilePicture {
  border: 5px solid white;
  width: 250px;
  height: 250px;
  margin-left: 2%;
  margin-top: 2%;
  margin-right: 2%;
}

.socialMedia {
  height: 3vh;
  width: 3vh;
}

.circleImage {
  width: 40vw;
  height: 50vh;
  border-radius: 50%;
}

/*
Styles for text
*/

.bannerText {
  color: #0c3c60;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.blue {
  color: #0c3c60;
}

.red {
  font-weight: bolder;
  color: #d51f2b;
}

.green {
  background-color: green;
}

.white {
  color: white;
}

.fancyScript {
  font-family: 'Indie Flower', cursive;
  margin: 1%;
}

.centerText {
  text-align: center;
}

/*need to figure out better way to size testimonials */

.testimonial {
  border: 1px solid black;
  height: 300px;
  width: 250px;
  background-color: white;
  opacity: 0.8;
  border-radius: 3%;
}

.threeBoxSizing {
  height: 300px;
  width: 250px;
}

.extraSpace {
  margin: 2%;
}

input {
  margin: 1%;
}

.signupButton {
  /*border: 1px solid black;*/
  padding: 2%;
  margin: 1%;
}

label {
  overflow: visible;
}

.noMargin {
  margin: 0;
}

/*
General helpful classes
*/

.raisedIndex {
  z-index: 1;
}

.loweredIndex {
  z-index: -1;
}

.thinBorder {
  border: 1px solid black;
}

.noCursor {
  cursor: none;
}

.cursor {
  cursor: pointer;
}

/*
Stripe Form Styling
*/

.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

/*
Profile Menu
*/

.menudemoBasicUsage .md-menu-demo {
  padding: 24px;
}

.menudemoBasicUsage .menu-demo-container {
  min-height: 200px;
}
