.myHeader {
  background-color: #0c3c60;
  color: white;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  margin: 0;
  align-self: auto;
}

nav ul li {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a {
  color: white;
  text-decoration: none;
}

.footer {
  background-color: #0c3c60;
  height: 7vh;
  display: flex;
  align-items: center;
  color: white;
}

.noMargin {
  margin: 0;
}

.parallaxBox {

  height: 86vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutUsPicture {
  border: 1px solid black;
  height: 35vh;
  width: 25vw;
  margin: 1%;
}

.competitive-swimmer {
  background-image: url('../images/competitive-swimmer.jpg');
}

.baseball-park {
  background-image: url('../images/at&t-park.jpg');
}

.bannerText {
  color: #0c3c60;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.blue {
  color: #0c3c60;
}

.red {
  font-weight: bolder;
  color: #d51f2b;
}

.green {
  background-color: green;
}

.fancyScript {
  font-family: 'Indie Flower', cursive;
  margin: 1%;
}

.testimonial {
  border: 1px solid black;
  height: 300px;
  width: 250px;
  background-color: white;
  opacity: 0.8;
  border-radius: 3%;
}

.centerText {
  text-align: center;
}

.extraSpace {
  margin: 2%;
}

input {
  margin: 1%;
}

/*.loginButtons {
  height: 75vh;
}*/

.signupButton {
  border: 1px solid black;
  padding: 2%;
  margin: 1%;
}
