<div class="row">
  <div class="parallaxBox competitive-swimmer" layout="row" layout-align="center center">
    <h1 class="bannerText fancyScript">Some badass Lifesparq tagline</h1>
  </div>
</div>

<div layout="row" layout-align="center center">
  <h4>This is a paragraph of stuff about Lifesparq and how awesome we are.</h4>
</div>

<div class="parallaxBox baseball-park" layout="row" layout-align="space-around center" layout-xs="column">
  <div class="testimonial" layout="row" layout-align="center center"><p>Space</p></div>
  <div class="testimonial" layout="row" layout-align="center center"><p>For</p></div>
  <div class="testimonial" layout="row" layout-align="center center"><p>Testimonials</p></div>
</div>
