<form>
  <input type="text" placeholder="First Name">
  <input type="text" placeholder="Last Name">
  <input type="text" placeholder="Email">
  <input type="text" placeholder="Password">
  <input type="text" placeholder="Team Name">
  <select name="sports">
    <option value="swimming">Swimming</option>
    <option value="cycling">Cycling</option>
    <option value="triathlon">Triathlon</option>
    <option value="running">Running</option>
  </select>
  <br><br>

  <input type="text" placeholder="Team Member First Name">
  <input type="text" placeholder="Team Member Last Name">
  <input type="text" placeholder="Team Member Email">
  <md-button class="md-raised md-primary">Submit</md-button>
</form>
