<div layout="row" layout-xs="column" layout-align="space-around center" class="loginButtons">
  <div>
    <form ng-submit="submitFeedback()">
      <md-input-container class="example-full-width">
        <input mdInput placeholder="Name" ng-model="user.name">
      </md-input-container>
      <md-input-container class="example-full-width">
        <input mdInput type="email" placeholder="Email" ng-model="user.email">
      </md-input-container>
      <div>Overall, how easy is it to use the Lifesparq website?</div>
      <md-radio-group ng-model="user.overall">
        <md-radio-button value="efficient">Efficient</md-radio-button>
        <md-radio-button value="okay">Okay</md-radio-button>
        <md-radio-button value="clunky">Clunky</md-radio-button>
      </md-radio-group>
      <md-input-container  class="example-full-width">
        <textarea rows="4" md-maxlength="150" placeholder="Please provide any additional feedback below:" ng-model="user.message">
        </textarea>
      </md-input-container>
      <input type="submit" md-raised-button value="Send Praise"/>
    </form>
  </div>

</div>

<script type="text/ng-template" id="feedbackSent.tmpl.html">
  <md-dialog>
    <md-dialog-content class="popupMessage">
      <div class="md-block"  layout="column" layout-align="center center" flex-gt-sm>{{confirmed || 'Your feedback was prolly submitted'}}
      </div>
      <div layout="column" layout-align="center center">
        <md-button class="md-primary" ng-click="hideConfirm()">OK!</md-button>
      </div>
    </md-dialog-content>
  </md-dialog>
</script>
