<div layout="column" layout-align="center center">
  <h1 class="noMargin">Signup</h1>
  <h4 class="fancyScript red">Take your life to the next level.</h4>
</div>

<div layout="row" layout-xs="column" layout-align="space-around center" class="loginButtons">

  <div class='signupButton' layout="column" layout-align="space-around center">
    <h1 class="blue">Sign up for an individual account</h1>
    <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
    <md-button class="md-raised md-primary" ng-click="showSingleUserSignup($event)">Sign up for an individual account</md-button>
  </div>

  <div class='signupButton' layout="column" layout-align="space-around center">
    <h1 class="blue">Sign up for a team account</h1>
    <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
    <md-button class="md-raised md-primary" ng-click="showTeamSignup($event)">Sign up a team as a Coach</md-button>
  </div>

</div>

<div layout="column" layout-align="center center">
  <p>Already a member? <a class="blue" ng-click="showMemberLogin($event)">Log in.</a>
</div>

<script type="text/ng-template" id="memberLogin.tmpl.html">
  <md-dialog>
    <md-dialog-content>
      <form name="loginForm" layout="column" layout-align="center center">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Email Address</label>
          <input ng-model="user.emailAddress">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Password</label>
          <input ng-model="user.password">
        </md-input-container>
        <h3 ng-if="error">{{ error }}</h3>
        <md-button type="submit" class="md-raised md-primary" ng-click="loginUser()">Submit</md-button>
      </form>
    </md-dialog-content>
  </md-dialog>
</script>

<script type="text/ng-template" id="signupFormSingle.tmpl.html">
  <md-dialog>
    <md-dialog-content>
      <form name="signUpFormSingle">

        <md-input-container class="md-block" flex-gt-sm>
          <label>First Name</label>
          <input ng-model="user.firstName">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Last Name</label>
          <input ng-model="user.lastName">
        </md-input-container>

        <md-input-container class="md-block">
          <label>Email Address</label>
          <input ng-model="user.emailAddress">
        </md-input-container>

        <md-input-container class="md-block">
          <label>Password</label>
          <input ng-model="user.password" password>
        </md-input-container>

        <md-button type="submit" class="md-raised md-primary" ng-click="submitUser()">button</md-button>

      </form>

    </md-dialog-content>
  </md-dialog>

</script>

<script type="text/ng-template" id="signupFormTeam.tmpl.html">
  <md-dialog>
    <md-dialog-content layout="column" layout-align="center center">
      <form name="signUpFormTeam">

        <md-input-container class="md-block" flex-gt-sm>
          <label>First Name</label>
          <input ng-model="user.firstName">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Last Name</label>
          <input ng-model="user.lastName">
        </md-input-container>

        <md-input-container class="md-block">
          <label>Email Address</label>
          <input ng-model="user.emailAddress">
        </md-input-container>

        <md-input-container class="md-block">
          <label>Password</label>
          <input ng-model="user.password" password>
        </md-input-container>

        <md-button class="md-raised md-primary" type="submit" ng-click="submitCoach()">button</md-button>

      </form>

    </md-dialog-content>
  </md-dialog>

</script>
