<div layout="column" ng-cloak>

  <md-content layout-padding>
    <div>
      <form name="signUpForm">

        <div layout-gt-sm="column">
          <md-input-container class="md-block" flex-gt-sm>
            <label>First Name</label>
            <input ng-model="user.firstName">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Last Name</label>
            <input>
          </md-input-container>
        </div>

        <md-input-container class="md-block">
          <label>Email Address</label>
          <input ng-model="user.address">
        </md-input-container>

        </div>
      </form>
    </div>

  </md-content>
</div>
