<div class="row">
  <div class="parallaxBox competitive-swimmer" layout="row" layout-align="center center">
    <h1 class="bannerText fancyScript">Some badass Lifesparq tagline</h1>
  </div>
</div>

<div layout="row" layout-align="center center">
  <h4 class="extraSpace centerText">This is a paragraph of stuff about Lifesparq and how awesome we are.</h4>
</div>

<div class="parallaxBox baseball-park" layout="row" layout-align="space-around center" layout-xs="column">
  <div class="testimonial" layout="row" layout-align="center center">
    <p class="centerText red">"I couldn't even make a jump shot until I found Lifesparq." <br><br> - Larry Bird</p>
  </div>
  <div class="testimonial" layout="row" layout-align="center center">
    <p class="centerText red">"If I had had Lifesparq, I could have been as good as Tom Brady." <br><br> - Peyton Manning</p>
  </div>
  <div class="testimonial" layout="row" layout-align="center center">
    <p class="centerText red">"You could make the argument that Lifesparq deserves all of the credit for the Red Sox World Series wins in 04 and 07." <br><br> - Theo Epstein</p>
  </div>
</div>

<!-- <div layout="column" layout-align="center center" class="extraSpace">
  <div flex>
    <h3 class="centerText">Want to take your life to the next level? It's as simple as signing up!</h3>
  </div>
  <div flex>
    <form>
      <input type="text" placeholder="Email Address">
      <br>
      <input type="password" placeholder="Password">
    </form>
</div> -->
