<div class="row">
  <div class="parallaxBox competitive-swimmer" layout="column" layout-align="center center">
    <h1 class="bannerText fancyScript">XLR8</h1>
    <h3 class="fancyScript">Master the Process. Create Better Results.</h3>
  </div>
</div>

<div layout="row" layout-align="space-around center" layout-xs="column">
  <div layout="column" layout-align="center center" class="threeBoxSizing">
    <i class="fa fa-line-chart extraSpace fa-2x" aria-hidden="true"></i>
    <h5 class="centerText">Track & Analyze</h5>
    <p class="centerText">XLR8 will follow the important metrics in your training & daily life, showing you exactly how you can make instantaneous improvements, build stronger habits and ultimately create better results.</p>
  </div>
  <div layout="column" layout-align="center center" class="threeBoxSizing">
    <i class="fa fa-battery-full extraSpace fa-2x" aria-hidden="true"></i>
    <h5 class="centerText">Connect & Educate</h5>
    <p class="centerText">Understand what it takes for you to consistently perform at your very best.  Learn how to upgrade that performance; and learn from teammates, as well as other athletes from around the world how to master your process and create better results.</p>
  </div>
  <div layout="column" layout-align="center center" class="threeBoxSizing">
    <i class="fa fa-gamepad extraSpace fa-2x" aria-hidden="true"></i>
    <h5 class="centerText">Explore & Compete</h5>
    <p class="centerText">If you’re an athlete who loves competition, XLR8 offers the chance to build habits quickly while competing to build those habits with teammates and other athletes around the world through challenges and a more well defined daily routine.</p>
  </div>
</div>

<div class="parallaxBox baseball-park" layout="row" layout-align="space-around center" layout-xs="column">
  <div class="testimonial" layout="row" layout-align="center center">
    <p class="centerText red">"I couldn't even make a jump shot until I found Lifesparq." <br><br> - Larry Bird</p>
  </div>
  <div class="testimonial" layout="row" layout-align="center center">
    <p class="centerText red">"If I had had Lifesparq, I could have been as good as Tom Brady." <br><br> - Peyton Manning</p>
  </div>
  <div class="testimonial" layout="row" layout-align="center center">
    <p class="centerText red">"You could make the argument that Lifesparq deserves all of the credit for the Red Sox World Series wins in 04 and 07." <br><br> - Theo Epstein</p>
  </div>
</div>

<!-- <div layout="column" layout-align="center center" class="extraSpace">
  <div flex>
    <h3 class="centerText">Want to take your life to the next level? It's as simple as signing up!</h3>
  </div>
  <div flex>
    <form>
      <input type="text" placeholder="Email Address">
      <br>
      <input type="password" placeholder="Password">
    </form>
</div> -->
