<div layout="row" layout-xs="column" layout-align="space-around center" class="loginButtons">
  <div>
    <form action="/your-server-side-code" method="POST">
      <script
      src="https://checkout.stripe.com/checkout.js"
      class="stripe-button"
      data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
      data-amount="999"
      data-name="Stripe.com"
      data-description="Widget"
      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
      data-locale="auto"
      data-zip-code="true">
      </script>
    </form>
  </div>

</div>

<!-- <script type="text/ng-template" id="feedbackSent.tmpl.html">
  <md-dialog>
    <md-dialog-content class="popupMessage">
      <div class="md-block"  layout="column" layout-align="center center" flex-gt-sm>{{confirmed || 'Your feedback was prolly submitted'}}
      </div>
      <div layout="column" layout-align="center center">
        <md-button class="md-primary" ng-click="hideConfirm()">OK!</md-button>
      </div>
    </md-dialog-content>
  </md-dialog>
</script> -->
