<div class="coverPhoto fenway" layout="row">
  <!-- <div layout-align="start center">
    <img src="{{ authenticatedUser.profilePicture }}" class="profilePicture raisedIndex">
  </div> -->
  <div layout="column" style="margin: 2%" layout-align="end">
    <h1 class="noMargin white">{{ authenticatedUser.firstName }} {{ authenticatedUser.lastName }}</h1>
    <h5 class="white">{{ authenticatedUser.teamName }}</h5>
  </div>
</div>

<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      
      <md-tab label="Videos">
        <md-content class="md-padding">
          <div ng-include="'views/videos.html'"></div>
        </md-content>
      </md-tab>

      <md-tab label="Individual Payment">
        <md-content class="md-padding">
          <div ng-include="'views/indPayment.html'"></div>
        </md-content>
      </md-tab>

      <md-tab label="Feedback">
        <md-content class="md-padding">
          <div ng-include="'views/feedback.html'"></div>
        </md-content>
      </md-tab>

      <!-- <md-tab label="Team Payment">
        <md-content class="md-padding">
          <div ng-include="'views/teamPayment.html'"></div>
        </md-content>
      </md-tab> -->

    </md-tabs>
  </md-content>
</div>

<!-- <div layout="column" style="margin: 2%" layout-align="end">
  <a class="profileLinks" href="feedback">Send us your feedback</a>
  <a class="profileLinks" href="teamPayment">Pay us many</a>
  <a class="profileLinks" href="indPayment">Pay us one</a>
</div> -->
